# Electron 使用官方镜像（正确的路径格式）
ELECTRON_MIRROR=https://registry.npmmirror.com/-/binary/electron/

# Electron 本地缓存路径
electron_custom_dir=/Users/nuanxinpro/softFile/electron

# 其他包可以继续使用淘宝镜像
registry=https://registry.npmmirror.com

# 禁用信任检查
strict-peer-dependencies=false
package-import-method=copy
verify-store-integrity=false
